<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/Looping_Statements/src/While_Loop/print_N_to_one.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="While_Loop.print_N_to_one"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="Looping_Statements"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Looping_Statements"/>
</launchConfiguration>
